.temporary-site-wrapper{
    background-image: url("images/Asset 1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

select{
    -webkit-appearance: none;
}

#calculator-title{
    font-weight: lighter;
    color: #555
}

.overview-text{
    max-width: 60vw;
    margin: 1vw 0vw;
}

.overview-text p{
    font-size: 1.1em;
    line-height: 1.3;
    color: #444;
}

.results-margin{
    margin:0vw 3vw;
}

.results-info-list{
    font-size: 1.1em;
    line-height: 1.3;
    color: #444;
}

body{
    font-family: "Garamond";
}

h1{
    font-weight: 500;
    color:#003a6b;
}

.input-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


/* Beginning of Max's fun land of CSS hell */

.question-mark{
    float: right;
    max-width: 1em;
    width: auto;
    transition: .5s ease all;
}

.info-popup{
    font-size: 16px;
    width: 14em;
    height: 4.5em;
    background-color: #fefefe;
    display: none;
    position: absolute;
    bottom: 55%;
    left: 50%;
    padding: 2vw;
    box-shadow: 1px 4px 7px #AAA;
    transition: .5s ease all;
}

.question-mark:hover ~ .info-popup{
    display: block;
    transition: .5s ease all;
}

@media screen and (min-width: 980px) {


    #results-location-input{
        width:100%;
    }

    #results-location-select{
        width:100%
    }

    /* For Mockup Design */
    #results-page, .home-page{
        padding-top: 15%;
        padding-right: 20%;
        margin:0px auto;
        width:60%;
        display: flex;
        flex-direction: column;
        padding-bottom:300px;
        justify-items: center;
    }
    

    .final-expenses{
        padding-right: 5.5vw;
    }

    #offered-through-company{
        width: 6em;
    }

    .long-term-needs .input-wrapper{
        display: flex;
        justify-content: flex-start;
    }

    .about-you input, .about-you select {
        width: 50%;
    }

    .contact-us input, .contact-us select {
        width: 50%;
    }

    .long-term-needs input, .long-term-needs select{
        width: 10em;
    }

    .immediate-needs-wrapper, .about-you-wrapper, .contact-us-wrapper {
        display: flex;
        flex-direction: row;
    }

    .about-you .input-wrapper-left{
        margin-left: -5%;
    }

    .immediate-needs .input-wrapper, .about-you .input-wrapper, .contact-us .input-wrapper {
        flex-direction: column;
        width: 50%;
        margin-left: -5%;
    }

    .immediate-needs input, .immediate-needs select {
        width: 50%;
    }

    .label-input {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .personal-assets .input-wrapper {
        justify-content: flex-end;
    }

    .personal-assets input, .personal-assets select{
        width: 20%;
    }

    .current-policy .input-wrapper{
        justify-content: flex-start;
    }

    .current-policy input, .current-policy select{
        width: 19%;
    }

}

form{
    padding: 3vw;
    max-width: 60vw;
    border: .1em solid #AAA;
    display: flex;
    flex-direction: column;
}

input, select{
    margin-top: 4vh;
    border: .1vw solid #AAA;
    width: 15%;
    height: 2.8em;
    background-color: #FFF;
    font-family: "Serif";
    -webkit-border-radius: 0px;
    /* -webkit-appearance: button; */
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.about-you, .personal-assets, .current-policy, .immediate-needs, .long-term-needs, .contact-us{
    padding: 2vw;
}

.about-you h1, .personal-assets h1, .current-policy h1, .immediate-needs h1, .long-term-needs h1{
    display: block;
    background-color: #FFF9ec;
    box-shadow: 1px 4px 7px #AAA;
    border-right: 8px solid #00346a;
    padding: 1vw 2vw;
    width: 50%;
    text-align: start;
    font-family: "Garamond", Serif;
    color: #516571;
    font-size: 1.7em;
    position: relative;
    margin-left: -7.5vw;
    margin-bottom: 3vh;
}

label{
    font-size: 1em;
    max-width: 30em;
    color: #333;
    margin-top: 5vh;
    margin-right: 1em;
    margin-left: 2em;
}

@media only screen and (max-width: 380px) {
    #results-page{
        /* padding-bottom: */
    }
    .home-page{
        padding-top:100px !important;
        padding-bottom:1950px !important;
    }
    /* For Mockup Design */
    .temporary-site-wrapper{
        background-image: url("images/Asset 5.png") !important;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 980px) {

    #results-location-input{
        width:100%;
    }

    #results-location-select{
        width:100%
    }

    /* For Mockup Design */
    
    .temporary-site-wrapper{
        background-image: url("images/Asset_4.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

        
    #results-page, .home-page{
        padding-top: 15%;
        padding-bottom:700px;
        margin:0px auto;
        width:60%;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    

    .immediate-needs-wrapper .label-input, .about-you-wrapper .label-input, .long-term-needs .label-input, .contact-us-wrapper .label-input{
        margin-top: 3vh;
    }

    .about-you h1, .personal-assets h1, .current-policy h1, .immediate-needs h1, .long-term-needs h1 {
        margin-top: 3vh;
    }

    form, .overview-text{
        max-width: 100vw;
    }

    .about-you h1, .personal-assets h1, .current-policy h1, .immediate-needs h1, .long-term-needs h1{
        padding: 1.5vw 2.5vw;
        width: 55%;
        color: #516571;
        font-size: 1.7em;
    }

    #results-page, .home-page{
        margin:0px auto;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding-bottom:300px;
    }

    
    form{
        margin:1vw 5vw;
    }

    .overview-text{
        margin:1vw 5vw;
    }

    label, input, select{
        margin-top: 1vh;
    }

    .input-wrapper{
        flex-direction: column;
    }

    label{
        margin-left: 5vw;
    }

    input, select{
        width: 85%;
        margin-left: 5vw;
    }

    .overview-text{
        max-width: 90vw;
    }

    form{
        margin:0px 5vw;
    }

    .overview-text{
        margin:0px 5vw;
    }
    
    #results-page, .home-page{
        margin:0px auto;
        width:100%;
        display: flex;
        flex-direction: column;
        padding-bottom:300px;
        justify-items: center;
    }


    form{
        max-width: 90vw;
    }

    .about-you, .personal-assets, .current-policy, .immediate-needs, .long-term-needs, .contact-us-wrapper{
        display: flex;
        flex-direction: column;
    }

    .about-you h1, .personal-assets h1, .current-policy h1, .immediate-needs h1, .long-term-needs h1{
        padding: 3vw 4vw;
        width: 80%;
        font-size: 1.5em;
    }

    li{
        font-size: 18px;
    }

    #calculator-title{
        text-align: center;
    }

    #results-page, .home-page{
        margin:0px auto;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding-bottom:300px;
    }

}

.about-you h1{
    content: "About You";
}

.personal-assets h1{
    content: "Personal Assets";
}

.current-policy h1{
    content: "Your Policy";
}

.immediate-needs h1{
    content: "Immediate Needs";
}

.long-term-needs h1{
    content: "Long Term Needs";
}

/* input::placeholder{
    padding-top: .2em;
    padding-left: .5em;
    color: #DDD;
    font-size: 1.3em;
} */

select, input{
    padding-left:8px;
    font-size: .8em;
}

.calculate{
    width: 15em;
    height: 3em;
    border-radius: 0;
    background-color: #5f92be;
    color: white;
    font-size: .9em;
    font-weight: bolder;
    margin: 1em auto;
}

.contact-us-button{
    width: 15em;
    height: 3em;
    border-radius: 0;
    background-color: #5f92be;
    color: white;
    font-size: .9em;
    font-weight: bolder;
    margin: 1em auto;
    display:flex;
    justify-content: center;
}

.contact-us-button:disabled{
    width: 15em;
    height: 3em;
    border-radius: 0;
    background-color: #838f9a;
    color: white;
    font-size: .9em;
    font-weight: bolder;
    margin: 1em auto;
    display:flex;
    justify-content: center;
}

/* HACKED */
input[type="checkbox"]:checked{
    outline:7px solid #00346a;
    outline-offset: -10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#results-location-input{
    width:80%;
}

#results-location-select{
    width:20%
}

#results-label-input-location{

}


@media only screen and (max-width: 980px) {

    #results-label-input-state{
        margin:-15px -30px 0px 30px;
        /* background-color:blue; */
    }

    .city-state{
        display:flex;
    }
}


@media only screen and (min-width: 980px) {
#results-label-input-state{
    margin:45px 5px 0px 5px !important;
}
}

@media only screen and (max-width: 550px) {

    .city-state select{
        width:100%;
    }
    
}

.city-state {
    display: flex;
}

#results-location-select{
    margin-left:0px;
    min-width:30px;
}

#results-location-input{
    min-width:75px;
}

#results-label-input-state{
    margin:-15px -30px 0px 30px;
}

